@model Sds.ReceiptShare.Ui.Web.Models.Group.DetailsViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>@Model.Name</h2>
<a asp-action="Index" asp-controller="Home">Back to Groups</a>
<div class="panel">
    <h4>Purchases Overview</h4>
    <div class="panel-body" style="overflow-x:scroll;">
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Purchaser</th>
                    <th scope="col">Purchase Description</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    @foreach (var item in Model.Members)
                    {
                        <th>
                            @if (item.IsAdministrator)
                            {
                                <sub>Admin</sub><br />
                            }
                            @item.Name
                        </th>
                    }
                    <td colspan="2"></td>
                </tr>
            </thead>
            @foreach (var item in Model.Purchases)
            {
                var beneficiaries = item.Beneficiaries.Beneficiaries;
                var amount = beneficiaries.First().Amount;
                <tr>
                    <td class="col-ms-2">@item.PurchasedBy </td>
                    <td class="col-ms-2">@item.Name </td>
                    <td class="col-ms-2">@item.Currency.Symbol </td>
                    <td class="col-ms-2">@item.Value </td>
                    <td class="col-ms-2">@item.Date.Date </td>
                    @foreach (var person in Model.Members)
                    {
                        <td>
                            @if (beneficiaries.Select(s => s.Name).ToList().Contains(person.UserId))
                            {
                                <div> @amount </div>
                            }
                        </td>
                    }
                    <td>Delete</td>
                    <td>Edit</td>
                </tr>
            }
            <tfoot>
                <tr>
                    <th colspan="2">Totals</th>
                    <td colspan="2">@Model.PrimaryCurrency.Symbol@Model.Purchases.Select(s => s.Value / 1).Sum()</td>
                    <th>Total Benefit</th>
                    @foreach (var item in Model.Members)
                    {
                        <td>@Model.PrimaryCurrency.Symbol@item.TotalBenefit</td>

                    }
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <th>Total Contribution</th>
                    @foreach (var item in Model.Members)
                    {
                        <td>@Model.PrimaryCurrency.Symbol@item.TotalContribution</td>
                    }
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <th>Balance</th>
                    @foreach (var item in Model.Members)
                    {
                        <td class="@(item.Balance > 0 ? "label-success" :"label-danger")">@Model.PrimaryCurrency.Symbol@item.Balance</td>
                    }
                    <td colspan="2"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="panel-footer">
        <a asp-action="AddPurchase" asp-route-id="@Model.Id" class="btn-lg">Add Purchase</a><br />
        <a asp-action="AddMembers" asp-route-id="@Model.Id" class="btn-lg">Manage Members</a><br />
    </div>
</div>
<div class="panel">
    <div class="panel-heading h4">Repayments</div>
    <div class="panel-body">
        @foreach (var item in Model.Repayments)
        {
            <div class="row">
                <span class="col-md-2">@item.Payer <b>pays</b></span>
                <span class="col-md-2">@item.Recipient</span>
                <span class="col-md-2">@Model.PrimaryCurrency.Symbol@item.Value</span>
            </div>
        }
    </div>
</div>
<div class="panel">
    <div class="panel-heading h4">
        @Html.DisplayNameFor(model => model.Currencies)
    </div>
    <div class="panel-body">
        <div class="row">
            <span class="col-md-2">@Model.PrimaryCurrency.Name<span>s</span> &#40;@Model.PrimaryCurrency.Symbol&#41;</span>
            <span class="label-info col-md-2">
                primary
            </span>
        </div>
        @foreach (var item in Model.Currencies)
        {
            <div class="row">
                <span class="col-md-2">@item.Name<span>s</span> &#40;@item.Symbol&#41;</span>
                <span class="label-warning col-md-2">@item.Symbol@item.Rate to @Model.PrimaryCurrency.Symbol<span>1</span></span>
            </div>
        }
    </div>
    <a asp-action="AddCurrencies" asp-route-id="@Model.Id" class="btn-lg">Manage Currencies</a>
</div>
