@model Sds.ReceiptShare.Ui.Web.Models.Group.DetailsViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>@Model.Name</h2>
<div>
    <h4>Group Details</h4>
    <hr />
    <table class="table-bordered table-hover">
        <thead>
            <tr>
                <td>Purchaser</td>
                <td>Purchase Description</td>
                <td>Currency</td>
                <td>Amount</td>
                <td>Date</td>
                @foreach (var item in Model.Members)
                {
                    <td>@item.Name</td>
                }
                <td></td>
                <td></td>
            </tr>
        </thead>
        @foreach (var item in Model.Purchases)
        {
            var beneficiaries = item.Beneficiaries.Beneficiaries;
            var amount = beneficiaries.First().Amount;
            <tr>
                <td class="col-ms-2">@item.PurchasedBy </td>
                <td class="col-ms-2">@item.Name </td>
                <td class="col-ms-2">@item.Currency.Symbol </td>
                <td class="col-ms-2">@item.Value </td>
                <td class="col-ms-2">@item.Date.Date </td>
                @foreach (var person in Model.Members)
                {
                    <td>
                        @if (beneficiaries.Select(s=>s.Name).ToList().Contains(person.UserId)) {
                        <div> @amount </div>
                        }
                    </td>
                }
                <td>Delete</td>
                <td>Edit</td>
            </tr>
        }
    </table>
    <dl class="dl-horizontal">        
        <dt>
            @Html.DisplayNameFor(model => model.Members)
        </dt>
        <dd>
            <ul>
                @foreach (var item in Model.Members)
            {
                    <li>
                        @item.Name
                        @if (item.IsAdministrator)
                        {<strong>Admin</strong>}
                    </li>
                }
            </ul>
        <dt>
            @Html.DisplayNameFor(model => model.Currencies)
        </dt>
        <dd>
            <ul>
                @foreach (var item in Model.Currencies)
                {
                    <li>
                        @item.Symbol@item.Name &#64; @item.Rate to 1
                        @if (item.IsPrimary)
                        {
                            <span class="label-info">
                                primary
                            </span>
                        }
                    </li>
                }
            </ul>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="AddPurchase" asp-route-id="@Model.Id">Add Purchase</a><br />
    <a asp-action="AddMembers" asp-route-id="@Model.Id">Manage Members</a><br />
    <a asp-action="AddCurrencies" asp-route-id="@Model.Id">Manage Currencies</a><br />.

    <a asp-action="Index" asp-controller="Home">Home</a>
</div>
